@font-face{
  font-family: BukyVede;
  src: url(../fonts/BukyVede-Regular.ttf) format('truetype'),
        url(../fonts/BukyVede-Bold.ttf) format('truetype'),
        url(../fonts/BukyVede-Italic.ttf) format('truetype');
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

h1, h2 {
    font-weight: 500;
    line-height: 1.1em;
}

h1, .h1 {
    font-size: 36px;
}

a {
    color: #428bca;
    text-decoration: none;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.navbar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-radius: 4px;
	position: relative;
    min-height: 55px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 0px;
}

.navbar:after {
  display: table;
  clear: both;
  content: "";
}

#logo {
	font-family: Bukyvede;
    font-size: 24px;
    color: black !important;
    text-decoration: none;
    float: left;
    margin-left: 5px;
    padding: 15px 15px;
    line-height: 20px;
}

.oldBul {
	font-family: BukyVede;
}

.navbar-nav {
	float: left;
	margin:0;
	padding:0;
	list-style: none;
}

.navbar-nav > li {
    list-style: none;
    list-style-image: none;
    float: left;
    position: relative;
    display: block;
}

.navbar-nav > li > a {
    position: relative;
    display: block;
    padding: 15px 15px;
    line-height: 20px;
    color: #777;
}

.navbar-nav > li > a:hover {
	color: #333;
}

.article-photo {
	float: left;
	margin: 0 0.5em 0.5em 0;
	padding: 0.5em;
}

.article-photo figcaption {
	position: absolute;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
}

.article-photo img {
	border: 4px solid #ccc;
    max-width: 220px;
	height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}